<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balls</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body>
    <div id="container">
        <p id="titre">Bienvenue sur Graphics</p>
        <button onclick="start()" id="boutonStart">commencer</button>
        <p id="fonction">f(x)=0</p>
        <div id="echelle">
            
        </div>
    </div>
    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="/modules/animejs/lib/anime.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>