<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphics</title>
    <link href="./style.css" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div id="coordDiv">
            <p id="coord">(0;0)</p>
        </div>
        <div id="ui">
            <p id="uiFonction">f(x)=0</p>
            <button id="uiEject" onclick="changeMenu()">
                <i class="fa-solid fa-arrow-right" id="arrow"></i>
            </button>
            <div id="uiMain">

                <div class="divUi" id="fonctionBase">
                    <p class="choisirfonction">choisi une fonction:</p>
                    <select id="selectBase">
                        <option value="identité">Fonction f(x)=x</option>
                        <option value="carré">Fonction carré f(x)=x²</option>
                        <option value="cube">Fonction cubique f(x)=x³</option>
                        <option value="sin">Fonction sinusoidale f(x)=sin(x)</option>
                        <option value="exp">Fonction exponentielle f(x)=e(x)</option>
                        <option value="inverse">Fonction inverse f(x)=1/x</option>
                        <option value="affine">affine f(x)=ax+b</option>
                        <option value="p2">polyn. deg. 2 f(x)=ax²+bx+c</option>
                        <option value="p3">polyn. deg. 2 f(x)=ax³+bx²+cx+d</option>
                        <option value="sint">sinusoidale trans. f(x)=asin(b(x-c))+d</option> 
                        <option value="expt">exponentielle trans. f(x)=ae(b(x-c))+d</option>
                        <option value="inverset">inverse trans. f(x)=(a/b(x-c))+d</option>
                    </select>
                    <p class="choisirfonction">modifie les parametres de celle-ci:</p>
                    <div id="changesValues">
                        <button id="appliquer" onclick="change()">appliquer les changements</button>
                        <div class="inputdiv">
                            <p>a :</p>
                            <input class="value" id="a" value="0" placeholder="valeur">
                        </div>
                        <div class="inputdiv">
                            <p>b :</p>
                            <input class="value" id="b" value="0" placeholder="valeur">
                        </div>
                        <div class="inputdiv">
                            <p>c :</p>
                            <input class="value" id="c" value="0" placeholder="valeur">
                        </div>
                        <div class="inputdiv">
                            <p>d :</p>
                            <input class="value" id="d" value="0" placeholder="valeur">
                        </div>
                    </div>
                </div>

                <button id="tracer" onclick="trace()">Tracer la fonction !</button>
                <p id="fonctionA">f(x)=0</p>

            </div>
        </div>
        <p id="titre">Bienvenue sur Graphics</p>
        <button onclick="start()" id="boutonStart">commencer</button>
        <p id="fonction">f(x)=0</p>
        <div id="echelle">
            
        </div>
    </div>
    <script src="https://kit.fontawesome.com/732bc6bb11.js" crossorigin="anonymous"></script>
    <script src="/modules/jquery/dist/jquery.min.js"></script>
    <script src="/modules/animejs/lib/anime.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>