@font-face {
    font-family: 'Raleway';
    src: url('./Raleway-Bold.ttf');
}

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Raleway';
}

#container{
    background-color: rgb(22, 22, 65);
    height: 100vh;
    width: 100vw;
}

.boule{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

#echelle{
    height: 100%;
    width: 100%;
    opacity: 0;
}
.nbEchelle{
    color: rgb(150, 150, 150);
    position: absolute;
    transform: translate(-100%, 0);
}
.divEchellev{
    background-color: rgb(150, 150, 150);
    height: 2px;
    width: 100%;
    opacity: 0.1;
    position: absolute;
}
.divEchelleh{
    background-color: rgb(150, 150, 150);
    height: 100%;
    width: 2px;
    opacity: 0.1;
    position: absolute;
}

#titre{
    position: absolute;
    font-size: 50px;
    color: white;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    width: 600px;
    opacity: 0;
}
#boutonStart{
    position: absolute;
    height: 50px;
    width: 200px;
    z-index: 7;
    border: solid 4px white;
    background-color: transparent;
    font-size: 20px;
    color: white;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.75s;
}
#boutonStart:hover{
    border-bottom-right-radius: 20px;
    background-color: rgb(163, 61, 163);
}
#fonction{
    position: absolute;
    color: white;
    font-size: 20px;
    left: 50%;
    top: 85%;
    translate: -50% -50%;
    opacity: 0;
}

#ui{
    position: relative;
    height: 100vh;
    width: 600px;
    left: -601px;
}
#uiMain{
    position: absolute;
    height: 100vh;
    width: 200px;
    background-color: rgb(91, 3, 117);
    z-index: 10;
    border-right: solid 1px violet;
}
#uiEject{
    position: absolute;
    color: white;
    left: 199px;
    width: 40px;
    top: 30px;
    height: 40px;
    background-color: rgb(91, 3, 117);
    border-right: solid 1px violet;
    border-bottom: solid 1px violet;
    font-size: 20px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
#arrow{
    transition: 0.5s;
}
#uiEject:hover > #arrow{
    translate: 5px 0;
}
#uiEject:hover{
    background-color: rgb(145, 0, 189);
}
#uiFonction{
    position: absolute;
    color: white;
    left: 200px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom:  5px;
    background-color: rgb(91, 3, 117);
    border-right: solid 1px violet;
    border-bottom: solid 1px violet;
    font-size: 20px;
    border-bottom-right-radius: 10px;
    z-index: 4;
}
