@font-face {
    font-family: 'Raleway';
    src: url('./Raleway-Bold.ttf');
}

*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Raleway';
    color: white;
}
button{
    cursor: pointer;
}
select{
    cursor: pointer;
}

#container{
    background-color: rgb(22, 22, 65);
    height: 100vh;
    width: 100vw;
}

.boule{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

#echelle{
    height: 100%;
    width: 100%;
    opacity: 0;
}
.nbEchelle{
    color: rgb(150, 150, 150);
    position: absolute;
    transform: translate(-100%, 0);
}
.divEchellev{
    background-color: rgb(150, 150, 150);
    height: 2px;
    width: 100%;
    opacity: 0.1;
    position: absolute;
}
.divEchelleh{
    background-color: rgb(150, 150, 150);
    height: 100%;
    width: 2px;
    opacity: 0.1;
    position: absolute;
}

#titre{
    position: absolute;
    font-size: 50px;
    color: white;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    width: 600px;
    opacity: 0;
}
#boutonStart{
    position: absolute;
    height: 50px;
    width: 200px;
    z-index: 7;
    border: solid 4px white;
    background-color: transparent;
    font-size: 20px;
    color: white;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.75s;
}
#boutonStart:hover{
    border-bottom-right-radius: 20px;
    background-color: rgb(109, 61, 163);
}
#fonction{
    position: absolute;
    color: white;
    font-size: 20px;
    left: 50%;
    top: 85%;
    translate: -50% -50%;
    opacity: 0;
}

#ui{
    position: relative;
    height: 100vh;
    width: 100vw;
    left: -701px;
}
#uiMain{
    position: absolute;
    height: 100vh;
    width: 300px;
    background:rgb(44, 10, 84);
    border-right: solid 1px white;
    z-index: 10;
}
#uiEject{
    position: absolute;
    color: white;
    left: 299px;
    width: 40px;
    top: 30px;
    height: 40px;
    background-color: rgb(44, 10, 84);
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    font-size: 20px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    box-shadow: 10px 10px 30px -7px rgba(0,0,0,0.75) inset;
    z-index: 10;
}
.choisirfonction{
    margin: 15px;
}
#arrow{
    transition: 0.5s;
}
#uiEject:hover > #arrow{
    translate: 5px 0;
}
#uiEject:hover{
    background-color: rgb(145, 0, 189);
}
#uiFonction{
    position: absolute;
    color: white;
    left: 300px;
    padding: 20px;
    padding-top: 5px;
    padding-bottom:  5px;
    background-color: rgb(44, 10, 84);
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    font-size: 20px;
    border-bottom-right-radius: 10px;
    z-index: 11;
}

#tracer{
    position: absolute;
    height: 50px;
    width: 200px;
    z-index: 7;
    border: solid 2px white;
    background-color: transparent;
    font-size: 20px;
    color: white;
    top: 85%;
    left: 150px;
    translate: -50% -50%;
    transition: 0.5s;
}
#tracer:hover{
    border-bottom-right-radius: 20px;
    background-color: rgb(109, 61, 163);
}

.divUi{
    display: flex;
    justify-content: center;
    width: 300px;
    flex-direction: column;
    font-size: 16px;
}
.divUi > p{
    margin: 5px;
}
#selectBase{
    background-color: rgb(44, 10, 84);
    color: white;
    padding: 5px;
    user-select: none;
    font-size: 15px;
    border: solid 2px white;
    margin: 20px;
}
#fonctionA{
    position: absolute;
    color: white;
    left: 150px;
    padding-top: 5px;
    padding-bottom:  5px;
    font-size: 20px;
    top: 92.5%;
    left: 150px;
    translate: -50% -50%;
    width: 300px;
    text-align: center;
}
.value{
    background-color: rgb(44, 10, 84);
    font-size: 16px;
    padding: 4px;
    margin: 10px;
    width: 50px;
}
.inputdiv > p {
    margin: 3px;
}

#appliquer{
    position: absolute;
    background-color: transparent;
    color: white;
    padding: 5px;
    user-select: none;
    font-size: 15px;
    border: solid 2px white;
    top: 75%;
    left: 150px;
    translate: -50% -50%;
    transition: 0.5s;
}
#appliquer:hover{
    border-bottom-right-radius: 20px;
    background-color: rgb(109, 61, 163);
}
.inputdiv{
    display: flex;
    align-items: center;
    margin-left:10px ;
}

#coordDiv{
    height: 30px;
    width: 100px;
    background-color: blue;
    position: absolute;
    z-index: 5;
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: rgb(62, 18, 112);
    border-radius: 10px;
    border-top-left-radius: 0;
    display: none;
}